.summary-step {
  padding: 20px 100px;
  background-image: url("../../assets/background-form.jpg");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;

  h1 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 25px;
  }

  .summary-list {
    li {
      font-size: 20px;
      img {
        width: 40px;
        height: 40px;
      }
    }
  }

  .main-section-form {
    display: flex;
    margin-top: 25px;

    .pick-up-address,
    .pick-up-date {
      table {
        th {
          display: inline;
        }
        tr {
          td {
            width: 25px;
            margin: 10px 0;
          }
        }
      }
    }

    .pick-up-address {
      margin-right: 200px;
    }
  }

  .btns {
    .submit {
      text-transform: uppercase;
      padding: 20px 40px;
      text-align: center;
      margin-top: 350px;
      margin-right: 40px;
    }
  }
}
