.log-in-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 100px;

  h1 {
    color: #3c3c3c;
    font-size: 35px;
    font-weight: lighter;
    margin-bottom: 15px;
  }

  img {
    margin-bottom: 50px;
  }

  .form-sign-in {
    background-color: #f0f1f1;
    width: 300px;
    height: 220px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .form-layout {
      label {
        font-size: 14px;
        color: #3c3c3c;
        margin-bottom: 10px;
      }
      input {
        font-size: 16px;
        background-color: #f0f1f1;
        color: #3c3c3c;

        border-top-style: hidden;
        border-right-style: hidden;
        border-left-style: hidden;
        outline: none;
        width: 200px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      }
      .red-line {
        border-bottom-color: red;
      }

      .password-input,
      .email-input {
        .errorMsg {
          color: red;
          font-weight: bold;
          font-size: 12px;
          margin-top: 3px;
        }
      }
    }
  }

  .buttons {
    button {
      width: 80px;
      height: 30px;
      background-color: #ffffff;

      text-align: center;
      line-height: 30px;
      font-size: 14px;
      color: #3c3c3c;
      margin: 30px 120px 0;
      border: 0.75px solid transparent;

      &:hover {
        border: 0.75px solid #3c3c3c;
      }
    }
  }
}
