@import "../scss/settings/colors";

.four-steps-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    font-weight: 500;
    color: #3c3c3c;
    font-size: 35px;
    margin-top: 45px;
  }

  img {
    margin: 25px 0;
  }

  div:nth-child(4) {
    width: 200px;
    height: 80px;
    border: 0.75px solid #3c3c3c;

    text-align: center;
    line-height: 80px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 25px;

    margin-top: 35px;
  }
}

.select-icons {
  display: flex;
  justify-content: space-around;
  background-color: $white-col;
  width: 100%;

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    text-align: center;

    img {
      margin-top: 50px;
    }

    li:nth-child(2) {
      font-size: 18px;
      opacity: 1;
      margin-bottom: 10px;
    }

    li:nth-child(3) {
      width: 70px;
      height: 1px;
      background-color: #707070;
    }

    li:nth-child(4) {
      font-size: 16px;
      margin-top: 10px;
      margin-bottom: 50px;
    }
  }
}
